<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/default.css" />
<title>ABO NEO</title>
</head>
<body>

<span wicket:id="header">header</span>

<div wicket:id="menu">
	Menu: 
	<wicket:link>
		<a href="home">Home</a>
		<a href="#">...</a>
		<a href="#">logout</a>
	</wicket:link>
</div>

<br />

<div wicket:id="body" class="body">body</div>

<span wicket:id="footer">footer</span>

</body>
</html>