<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<wicket:panel>
		<h1>CLXY Studio.</h1>
		<div>
			<h2>FireFox 4.0+, Chrome, emn... no IE!</h2>
		</div>
		<div>
			<h2>Components</h2>
			<input type="button" value="入力" />
			<input type="button" value="入力" disabled="disabled"/>
			<input type="button" value="入力" class="orange" />
			<input type="button" value="入力" class="blue" />
			<input type="button" value="入力" class="pink" />
			<input type="button" value="入力" class="green"/>
			<br/><br/>
			<input type="button" value="Input" />
			<input type="button" value="Input" disabled="disabled"/>
			<input type="button" value="Input" class="orange" />
			<input type="button" value="Input" class="blue" />
			<input type="button" value="Input" class="pink" />
			<input type="button" value="Input" class="green"/>
		</div>
		<div>
			<h2>Using</h2>
			<a href="http://wicket.apache.org/" title="Apache Wicket">
				<img src="http://svn.apache.org/repos/asf/wicket/common/site/trunk/img/logo-bigger.png" width="50" height="50"/>
			</a>
			<a href="http://code.google.com/appengine/" title="Google App Engine">
				<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"/>
			</a>
			<a href="http://www.bing.com/" title="Background images from Bing.">
				Background Images
			</a>
			<a href="http://www.furallover.com/graphics.asp?start=1&num=16&catdog=&group=Icons">
				Icones
			</a>
			
		</div>
	</wicket:panel>
</body>
</html>