<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/input.css" />
<link rel="stylesheet" type="text/css" href="css/tabbedPanel.css" />

<!-- javascript -->
<link rel="stylesheet" type="text/css" media="all"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/i18n/jquery-ui-i18n.min.js"></script>

<script type="text/javascript" src="/js/jquery.clxychart.js"></script>
<!-- <script type="text/javascript" src="/js/bgImage.js"></script> -->
<title>CLXY Studio</title>
</head>
<body>
	<div wicket:id="header" class="header" id="header">header</div>

	<div class="menu">
		<div wicket:id="menuItem" class="menuItem">A Menu Item.</div>
	</div>

	<div wicket:id="body" class="body">body</div>

	<div wicket:id="footer" class="footer">footer</div>

	<div id="backImageFaderParent">
		<div id="backImageFader"></div>
	</div>
</body>

</html>